
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* App.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
}

.import-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

.import-zone:hover {
  background-color: #e2e2e2;
}

.import-zone p {
  font-size: 1.2rem;
  color: #666;
}

input.form-control {
  font-size: 1.2rem;
  text-align: right;
}

input.form-control[readonly] {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

button.btn {
  font-size: 1.2rem;
  padding: 15px;
  width: 100%;
  border-radius: 8px;
  transition: all 0.2s ease;
}

button.btn-primary {
  background-color: #595b5e;
  color: white;
  border: none;
}

button.btn-primary:hover {
  background-color: #363d44;
}

button.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}

button.btn-secondary:hover {
  background-color: #5a6268;
}

button.btn-warning {
  background-color: #7f7556;
  color: white;
  border: none;
}

button.btn-warning:hover {
  background-color: #817652;
}

button.mb-2 {
  margin-bottom: 10px;
}

.row {
  margin-bottom: 10px;
}

button.plugin-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  width: 50px;
  margin: 5px;
  border-radius: 50%;
  background-color: #28a745;
  color: white;
}

button.plugin-btn:hover {
  background-color: #218838;
}

button.btn-warning {
  width: 100%;
  margin-top: 10px;
}



/* General styles */
body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.import-zone {
  transition: border-color 0.3s;
}

.import-zone:hover {
  border-color: #007bff;
}

.form-control {
  font-size: 1.2em;
  border-radius: 5px;
}

.btn {
  font-size: 1.1em;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
}

.btn-primary {
  background-color: #46494c;
  border-color: #23272b;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #4e555b;
}

.btn-warning {
  background-color: #625d4e;
  border-color: #716a56;
  color: #212529;
  transition: background-color 0.3s;
}

.btn-warning:hover {
  background-color: #908668;
  border-color: #2e2a1f;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.col {
  flex: 1;
  margin: 0 5px;
}

/* Add responsiveness */
@media (max-width: 768px) {
  .btn {
    font-size: 1em;
    padding: 8px 15px;
  }

  h1 {
    font-size: 1.5em;
  }
}


.expression-field {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.result-field {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  background-color: #f0f8ff;
  border: 2px solid #007bff;
  border-radius: 8px;
  color: #000;
}

.result-field.error {
  color: red;
}
